.zoom-social-icons__list--no-labels .zoom-social-icons__field-label { display: none; }
.zoom-social-icons__field { padding: 6px 0; display: block; margin: 0; }
.zoom-social-icons__field + .zoom-social-icons__field { border-top: 1px solid #efefef; }

.zoom-social-icons__cw { float: left; width: 100%; }
.zoom-social-icons__inputs { margin-left: 40px; margin-right: 30px; }
.zoom-social-icons__field-url + .zoom-social-icons__field-label { margin-top: 2px; }

.zoom-social-icons__field-handle, .zoom-social-icons__field-trash { float: left; width: 30px; margin-top: 12px; }
.zoom-social-icons__field-handle { width: 40px; margin-left: -100%; }
.zoom-social-icons__field-handle:hover { cursor: move; }
.zoom-social-icons__field-trash { margin-top: 18px; margin-left: -30px; text-decoration: none; display: block; text-align: right; }

.zoom-social-icons__list--no-labels .zoom-social-icons__field-handle { margin-top: -4px; }
.zoom-social-icons__list--no-labels .zoom-social-icons__field-trash { margin-top: 2px; }

.zoom-social-icons__field-handle.dashicons { width: 30px; margin-top: 18px; }
.zoom-social-icons__list--no-labels .zoom-social-icons__field-handle.dashicons { margin-top: 3px; }

.zoom-social-icons__add-button { margin-bottom: 10px; }

.zoom-social-icons__field-handle.socicon { color: white; padding: 6px; border-radius: 20px; }
